@font-face {
    font-family: 'Merryweather';
    src: url('../fonts/Merriweather-Regular.woff');
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: 'Golos Text';
    src: url('../fonts/Golos-Text_Regular.woff2');
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: 'Golos Text';
    src: url('../fonts/Golos-Text_Medium.woff');
    font-display: swap;
    font-weight: 500;
}

html {
    box-sizing: border-box;
}

body {
    min-width: 375px;
}

body,
h1,
p {
    margin: 0;
    padding: 0;
}

header {
    position: absolute;
    padding: 28px 0;
    width: 100%;
    z-index: 10;
}

.container {
    margin: 0 auto;
    padding-left: 18.3%;
    width: 83.33%;
    max-width: 1600px;
    z-index: 10;
}

.header__logo-img {
    display: inline-block;
    margin-right: 3px;
    width: 92px;
    height: 31px;
    background-image: url('../img/horse.svg');
}

.hero {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    padding-top: 124px;
    min-height: 576px;
    background-image: url('../img/main-bgrd.png');
    background-size: cover;
    overflow: hidden;
}

/* 
.hero::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    /* background-color: #E9DED4; */
/* background-image: url(../img/main-backgr-2.png);
    background-size: cover;
    opacity: 0.7;
} */

.hero__content {
    position: relative;
    width: 44.35%;
    max-width: 542px;
    z-index: 5;
}

.hero__title {
    margin-bottom: 24px;
    font-family: 'Merryweather', Arial, Helvetica, sans-serif;
    font-size: 60px;
    line-height: 66px;
    text-transform: uppercase;
}

.hero__title-line {
    display: block;
}

.line-2 {
    text-align: center;
}

.line-3 {
    text-align: right;
}

.hero__descr {
    margin-bottom: 40px;
    font-family: 'Golos Text', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.4px;
    text-align: center;
}

.hero__buttons {
    display: flex;
    justify-content: space-between;
    font-family: 'Golos Text', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
}

.hero__link {
    display: block;
    padding: 13px 49px;
    max-width: 263px;
    border-radius: 66px;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
}

.hero__link-1 {
    background-color: #1F1F1F;
    color: #fff;
}

.hero__link-2 {
    border: 2px solid #1F1F1F;
    color: #1F1F1F;
}

.hero__img-layers {
    position: absolute;
    bottom: 0;
    width: 1585px;
    height: 100%;
}

.hero__img-layer {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}

.img-layer-1 {
    bottom: -0.5%;
    left: 10.2%;
    width: 1624px;
    height: 434px;
    background-image: url('../img/img-layer-1.png');
    z-index: 5;
}

.img-layer-1-stroke {
    bottom: 5px;
    left: 11%;
    width: 1635px;
    height: 436px;
    background-image: url('../img/hero_stroke.svg');
    z-index: 5;
}

.img-layer-2 {
    top: 165px;
    left: 84.39%;
    width: 147px;
    height: 270px;
    background-image: url('../img/img-layer-2.png');
    z-index: 4;
}

.img-layer-3 {
    top: 270px;
    left: 63.5%;
    width: 131px;
    height: 270px;
    background-image: url('../img/img-layer-3.png');
    z-index: 4;
}

.img-layer-4 {
    bottom: -4px;
    left: 70.26%;
    width: 197px;
    height: 222px;
    background-image: url('../img/img-layer-4.png');
    z-index: 15;
}

.img-layer-5 {
    left: 95.7%;
    bottom: 15px;
    width: 83px;
    height: 127px;
    background-image: url('../img/img-layer-5.png');
    z-index: 15;
}

.img-layer-6 {
    left: 60%;
    bottom: 45px;
    width: 700px;
    height: 700px;
    transform-origin: center center;
}

.circle-content {
    font-size: 18px;
    font-family: 'Merryweather';
    font-weight: 900;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1.3px;
}

.hero__circle {
    fill: #FBCE51;
    opacity: 0.5;
}

@media (max-width: 1680px) {

    .hero__content {
        width: 55%;
    }
}

@media (max-width: 1366px) {

    .container {
        padding-left: 0;
        width: 89.46%;
        max-width: 1222px;
    }

    .hero__img-layers {
        overflow: hidden;
    }

    .img-layer-1 {
        bottom: 0;
        left: -0.6%;
        background-image: url('../img/img-layer-1-1366.png');
    }

    .img-layer-1-stroke {
        bottom: 0.21%;
        left: -7%;
    }

    .img-layer-2 {
        left: 67%;
    }

    .img-layer-3 {
        left: 46%;
    }

    .img-layer-4 {
        left: 52.7%;
    }

    .img-layer-5 {
        left: 78.2%;
    }

    .img-layer-6 {
        left: 42.4%;
    }
}

@media (max-width: 375px) {

    .container {
        width: 335px;
        max-width: 335px;
    }

    header {
        padding: 17px 0;
    }

    .header__logo {
        padding-left: 7px;
    }

    .header__logo-img {
        margin-right: 0;
        height: 28px;
        width: 80px;
        background-size: contain;
    }

    .header__logo-text {
        display: inline-block;
        padding-left: 3px;
        height: 25px;
    }

    .header__logo-text img {
        width: 125px;
    }

    .hero {
        padding-top: 89px;
        min-height: 683px;
    }

    .hero__content {
        width: 100%;
    }

    .hero__title {
        font-size: 36px;
        font-weight: 400;
        line-height: 40px;
    }

    .line-2 {
        padding-left: 6px;
    }

    .hero__descr {
        margin-bottom: 30px;
        text-align: left;
    }

    .hero__buttons {
        display: block;
    }

    .hero__link {
        padding: 13px 43px;
        max-width: 100%;
    }

    .hero__link-1 {
        margin-bottom: 14px;
    }

    .hero__link-2 {
        background-color: #fff;
        opacity: 0.9;
        border: none;
    }
}